nav {
	background-color: RGBA(0, 0, 0, 0.8);
}

nav .nav-wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

body{
	background-color:#0a0a0a;
	background-image:url(../img/Untitled-1.png);
	background-repeat: no-repeat;
    background-size: cover;
}

.avatar{
    border-radius: 50%;
    width: 80px;
    margin: 30px;
    margin: 30px 30px 0px;
}

.autor{
	font-weight: 700;	
}

.contenido{
	margin: 30px 0px;
}

.identification{
	position:absolute;
	right: 30px;
	font-size: 20px !important;
	color: #2aa9e0 !important;
}

.identificationfb{
	position:absolute;
	right: 30px;
	font-size: 20px !important;
	color: #405e9c !important;
}

.stats{
	font-size: 20px !important;
	color: #f8566d !important;
}

.retweetspace{
	padding-right: 15px;
}

.row{
	margin-bottom: 0px !important;
}