<div>
	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo center">
				<div class="valign-wrapper">
					<img alt="" src="img/R.png" class="valign">  
					<h5 class="valign">&nbsp;SocialHub</h5>
				</div>
			</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="#feed">Timeline</a></li>
				<li><a href="#" ng-click="logout()">Salir</a></li>
			</ul>
		</div>
	</nav>
</div>
	
<div class="container">
	<div class="row">
		<div class="col  s12 m8 l10 offset-m2 offset-l1">
			<div class="card">
				<div class="card-content">
					<h4>Redes sociales enlazadas</h4>
					<p>
						<span ng-show="user.facebook.token">Ya estás enlazado con facebook</span>
						<a class="btn blue darken-4" href="/auth/facebook" target="_self" ng-disabled="user.facebook">Enlazar con facebook</a>
					</p>
					<p>
						<span ng-show="user.twitter.token">Ya estás enlazado con twitter</span>
						<a class="btn light-blue" href="/auth/twitter" target="_self" ng-disabled="user.twitter">Enlazar con twitter</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
