<div>
	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo center">
				<div class="valign-wrapper">
					<img alt="" src="img/R.png" class="valign">  
					<h5 class="valign">&nbsp;SocialHub</h5>
				</div>
			</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="#config">Configuración</a></li>
				<li><a href="#" ng-click="logout()">Salir</a></li>
			</ul>
		</div>
	</nav>
</div>
	
<div class="container">
	<div class="row">
		<div class="col  s12 m8 l10 offset-m2 offset-l1">
			<br>
			<a class="btn black" href="#/feed" ng-click="refrescar()" style="display: block;">
					Actualizar
			</a>
			<div ng-show="itemList.length">
				<div class="card white" ng-repeat="post in itemList">
					<div class="row">
						<div class="col s2">
							<img class="avatar" ng-src="{{post.imagen_autor}}">
						</div>
						<div class="col s9">
							<div class="contenido">
					            <h6><strong class= "autor">{{post.autor}} </strong><span class="grey-text">{{post.creado | date: "dd-mm-yyyy"}}</span> 
					            <span ng-show="post.tipo==1">
					            	<i class="fa fa-twitter identification"></i>
					            </span>
					            <span ng-show="post.tipo==0">
					            	<i class="fa fa-facebook identificationfb"></i>
					            </span>
					            </h6> 
								<div>{{post.mensaje}} <a ng-href="{{post.enlace}}">{{post.enlace}}</a></div>
								<div>
									<div ng-show="post.tipo==1">
										<i class="fa fa-retweet stats"></i> <span class="retweetspace">{{post.compartido}}</span>
										<i class="fa fa-heart stats"></i> <span>{{post.apreciado}}</span>
									</div>
									<div ng-show="post.tipo==0">
										<i class="fa fa-share stats"></i> <span class="retweetspace">{{post.compartido}}</span>
										<i class="fa fa-thumbs-o-up stats"></i> <span>{{post.apreciado}}</span>
									</div>
								</div>
				            </div>
						</div>
					</div>
	        	    <img class="responsive-img" ng-src="{{post.imagen}}">
					<br/>
	        	</div>
			</div>
		</div>
	</div>
</div>
