<style>
	nav {
		background-color: RGBA(0, 0, 0, 0.8);
	}

	nav .nav-wrapper {
		max-width: 1200px;
		margin: 0 auto;
	}

	.btn, .btn-large{
	   background-color: #6a1b9a;
	}

	.btn:hover, .btn-large:hover{
	   background-color: #FF3E85;
	}


	h1.titulo {
		font-size: 50px;
		line-height: 36%;
		margin: 2rem 0 1rem 0;
		color: white;
	}

	span.subtitulo {
		font-size: 23px;
		font-weight: 300;
		color: #C5C5C5;
	}

	.container {
		max-width: 830px;
		padding-top: 60px;
	}

	.card-content{
		    padding: 36px 160px !important;
	}


	input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
	    color: #6a1b9a;
	}
	input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	    border-bottom: 1px solid #26a69a;
	    box-shadow: 0 1px 0 0 #6a1b9a;
	}

</style>
<div>
	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo center">
				<div class="valign-wrapper">
					<img alt="" src="img/R.png" class="valign">  
					<h5 class="valign">&nbsp;SocialHub</h5>
				</div>
			</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="#signin">Iniciar sesión</a></li>
				<li><a href="#signup">Regístrate</a></li>
			</ul>
		</div>
	</nav>
</div>
<div class="container">
	<div>
		<h1 class="titulo">Inicia sesión</h1>
		<span class="subtitulo">ve tu timeline de <span
			style="color: #659FCB;">twitter</span> y <span
			style="color: #3B5998;">facebook </span>en un solo lugar
		</span>
	</div>
	<div>
		<div class="row">
			<div class="col s12 m12">
				<div class="card">
					<div class="card-image">
						<img src="img/Capture.JPG"> <span class="card-title">Bienvenido</span>
					</div>
					<div class="card-content">
						<form name="loginForm" no-validate>
							<div class="formInfo">
								<div class="error" ng-show="error_msg">{{error_msg}}</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
							        <input id="name" type="text" ng-model="user.name" name="name" required>
							        <label for="name">Nombre</label>
        						</div> 
								<div class="input-field col s12">
							          <input id="login" type="email" ng-model="user.email" name="email" required>
							          <label for="login">Email</label>
        						</div> 
        						<div class="input-field col s12">
							          <input id="password" type="password" ng-model="user.password" name="contrasena" required>
							          <label for="password">Contraseña</label>
        						</div> 
							</div>
							<div class="center-align"> 
								<button class="center-align btn waves-effect waves-light" type="button" ng-click="loginForm.$valid && signup(user)"><span style="vertical-align: top;">Crear cuenta</span>
								 	<i class="material-icons">send</i>
								 </button></div>
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
